@attribute [Route(Rutas.EditarClientesNav)]
@using Galaxy.TomaPedido.Dto.Request.Clientes
@using Galaxy.TomaPedido.Dto.Response.Clientes
@using Galaxy.TomaPedido.Dto.Response.Maestros
@using Galaxy.TomaPedido.Servicio.Interfaces
@using Galaxy.TomaPedido.UI.Components.Pages.Mantenimientos.Clientes.Componentes
@using Galaxy.TomaPedido.UI.Components.Shared
@inject IClienteServicio ClienteService
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject IMaestroServicio MaestroService

<h3>Editar Cliente</h3>

<GroupBox Titulo="Datos del Cliente" Class="mt-4">
	<ChildContent>
		<FormCliente Request="Request" ListRubros="ListRubros" OnGuardarEvent="OnGuardar"></FormCliente>
	</ChildContent>
</GroupBox>

<Loading IsLoading="IsLoading" />

@code {
	[Parameter]
	public int id { get; set; }

	public ClienteRequestDto Request { get; set; } = new ClienteRequestDto();
	public ClienteResponseDto Response { get; set; } = new ClienteResponseDto();

	public List<DetalleMaestroResponse> ListRubros { get; set; } = new List<DetalleMaestroResponse>();

	public bool IsLoading { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await ObtenerPorId();
		await OnListarRubros();
	}

	public async Task ObtenerPorId()
	{
		IsLoading = true;
		try
		{
			var resultado = await ClienteService.ObtenerPorId(id);

			if (resultado != null && resultado.Data != null)
			{
				Response = resultado.Data;
				Request = new()
				{
					Celular = Response.Celular,
					NumeroDocumento = Response.NumeroDocumento,
					Contacto = Response.Contacto,
					CorreoElectronico = Response.CorreoElectronico,
					Direccion = Response.Direccion		,
					IdRubroMae = Response.IdRubroMae,
					RazonSocial = Response.RazonSocial
				};
			}
		}
		catch (Exception ex)
		{
			toastService.ShowError("Ocurrió un error al obtener el cliente: " + ex.Message);
		}
		finally
		{
			IsLoading = false;
		}
	}

	public async Task OnGuardar()
	{
		IsLoading = true;
		try
		{
			var resultado = await ClienteService.Actualizar(id, Request);

			if (resultado != null)
			{
				toastService.ShowSuccess("Cliente editado correctamente");
				NavigationManager.NavigateTo(@Rutas.ListarClientes);
			}
		}
		catch (Exception ex)
		{
			toastService.ShowError("Ocurrió un error al editar el cliente: " + ex.Message);
		}
		finally
		{
			IsLoading = false;
		}
	}

	private async Task OnListarRubros()
	{
		try
		{
			var resultado = await MaestroService.ListarDetalleByCodigoPadre("MAE_RUBROS");
			if (resultado != null && resultado.Success == true && resultado.Data != null)
			{
				ListRubros = resultado.Data;
			}
		}
		catch (Exception)
		{

			throw;
		}
	}
}
